  {% load static %}
{% block content %}
<html>
<head>
  <title>Main Page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'slrtool/main.css' %}">
</head>
<body>
    <h2 id="heading">Systematic Literature Review Tool</h2>
  {% if papers %}
    {% for paper in papers %}
  <table>
    <tr>
      <th>Paper Type</th>
      <th>Author</th>
      <th>Book Title</th>
      <th>title</th>
      <th>year</th>
      <th>doi</th>
      <th>pages</th>
      <th>publisher</th>
      <th>Language </th>
      <th>URL</th>
    </tr>
    <tr>
      <td>{{ paper.paper_type }}</td>
      <td>{{ paper.author }}</td>
      <td>{{  paper.booktitle }}</td>
      <td>{{  paper.title }}</td>
      <td>{{  paper.year }}</td>
      <td>{{  paper.doi }}</td>
      <td>{{  paper.pages }}</td>
      <td>{{  paper.publisher }}</td>
      <td>{{  paper.language }}</td>
      <td>{% if  paper.pdf_url is not None %}
          <a href={{paper.pdf_url}}  target="_blank">{{paper.pdf_url}}</a>
        {%else%}
          {{ paper.pdf_url}}
        {%endif%}
      </td>
    </tr>
  <form method="get" action="{% url 'add_quality_assessment' %}">
    <table>
      <caption>Select Details for Quality Assessment</caption>
      {% csrf_token %}
      {{ qaform.as_table}}
      <tr><td></td><td colspan="2"><button type="submit">Submit</button></td></tr>
    </table>
  </form>
  {%endfor%}
  {% else %}
  <p>Some error occured in file upload !!! <br/>Go back and try again.</p>
  {% endif %}
</body>
</html>
{% endblock %}
